In [1]:
# Pandas to manipulate data
import pandas as pd
import numpy as np

# cpickle
import _pickle as cPickle


# Torchvision
import torchvision 
from torchvision import datasets # for various datasets
import torchvision.transforms as transforms # for dataset transformation

In [2]:
transform = transforms.Compose([transforms.ToTensor()]) #for conversion to tensors
testset = torchvision.datasets.CIFAR10(root='./data', train=False, download=True, transform=transform)

Files already downloaded and verified

In [3]:
testset_size = testset.test_data.shape[0]
print(testset_size)

10000

In [4]:
# get first label and image
image1 = testset[0][0]
label1 = testset[0][1]
print(label1)

3

In [5]:
def load_classes():
    path = './data/cifar-10-batches-py/'
    file = 'batches.meta'
    
    with open(path + file, 'rb') as fin:
        dict = cPickle.load(fin)
        return dict['label_names']

def print_classes(label_names):
    for i in range(10):
        print(str(i) + " : " + label_names[i])

classes = load_classes()
print_classes(classes)

0 : airplane
1 : automobile
2 : bird
3 : cat
4 : deer
5 : dog
6 : frog
7 : horse
8 : ship
9 : truck

In [6]:
# We'll create separate arrays to hold the images for different labels
airplane = []
automobile = []
bird = []
cat = []
deer = []
dog = []
frog = []
horse = []
ship = []
truck = []

In [9]:
for i in range(testset_size):
    image_array = testset[i][0]
    class_lable = testset[i][1]

    if(class_lable == 0):
        airplane.append(image_array)
    elif(class_lable == 1):
        automobile.append(image_array)
    elif(class_lable == 2):
        bird.append(image_array)
    elif(class_lable == 3):
        cat.append(image_array)
    elif(class_lable == 4):
        deer.append(image_array)
    elif(class_lable == 5):
        dog.append(image_array)
    elif(class_lable == 6):
        frog.append(image_array)
    elif(class_lable == 7):
        horse.append(image_array)
    elif(class_lable == 8):
        ship.append(image_array)
    elif(class_lable == 9):
        truck.append(image_array)

In [10]:
print(len(bird), len(deer), len(truck))

1000 1000 1000

In [11]:
# Hence all of the classes has 1k images in the test dataset.

# Now create Pandas dataframe to store all classes

In [12]:
columns = ['index','class_label', 'img_data']
rows = []
index = 0
for i in range(len(airplane)):
    index = index +1 
    row = [index, 0, airplane[i].numpy()]
    rows.append(row)
for i in range(len(automobile)):
    index = index +1 
    row = [index, 0, automobile[i].numpy()]
    rows.append(row)
for i in range(len(bird)):
    index = index +1 
    row = [index, 0, bird[i].numpy()]
    rows.append(row)
for i in range(len(cat)):
    index = index +1 
    row = [index, 0, cat[i].numpy()]
    rows.append(row)
for i in range(len(deer)):
    index = index +1 
    row = [index, 0, deer[i].numpy()]
    rows.append(row)
for i in range(len(dog)):
    index = index +1 
    row = [index, 0, dog[i].numpy()]
    rows.append(row)
for i in range(len(frog)):
    index = index +1 
    row = [index, 0, frog[i].numpy()]
    rows.append(row)
for i in range(len(horse)):
    index = index +1 
    row = [index, 0, horse[i].numpy()]
    rows.append(row)
for i in range(len(ship)):
    index = index +1 
    row = [index, 0, ship[i].numpy()]
    rows.append(row)
for i in range(len(truck)):
    index = index +1 
    row = [index, 0, truck[i].numpy()]
    rows.append(row)

df = pd.DataFrame(rows, columns=columns)

In [13]:
df['img_data'][0].shape

(3, 32, 32)

In [14]:
df.head(5)

   index  class_label                                           img_data
0      1            0  [[[0.60784316, 0.654902, 0.6901961, 0.74509805...
1      2            0  [[[0.3529412, 0.3529412, 0.35686275, 0.3568627...
2      3            0  [[[0.96862745, 0.9529412, 0.9529412, 0.9568627...
3      4            0  [[[0.827451, 0.8627451, 0.8745098, 0.87058824,...
4      5            0  [[[0.18431373, 0.18039216, 0.1764706, 0.176470...

In [15]:
file_name = 'modified_img_data_test.csv'

In [16]:
#serialize the 3d numpy array data for RGB channel image
import json
df['img_data'] = df.img_data.map(lambda x: json.dumps(x.tolist()))

In [17]:
df.to_csv(file_name, index=False)

In [18]:
read_df = pd.read_csv(file_name)

In [19]:
read_df.head(5)

   index  class_label                                           img_data
0      1            0  [[[0.6078431606292725, 0.6549019813537598, 0.6...
1      2            0  [[[0.3529411852359772, 0.3529411852359772, 0.3...
2      3            0  [[[0.9686274528503418, 0.9529411792755127, 0.9...
3      4            0  [[[0.8274509906768799, 0.8627451062202454, 0.8...
4      5            0  [[[0.18431372940540314, 0.18039216101169586, 0...

In [20]:
# Check that image data is numpy readable
np.asarray((json.loads(read_df['img_data'][0])))

array([[[0.60784316, 0.65490198, 0.6901961 , ..., 0.78823531,
         0.79215688, 0.75294119],
        [0.60000002, 0.63921571, 0.67058825, ..., 0.79215688,
         0.79607844, 0.74117649],
        [0.60784316, 0.627451  , 0.65882355, ..., 0.80784315,
         0.80000001, 0.74117649],
        ...,
        [0.34901962, 0.22352941, 0.23921569, ..., 0.34901962,
         0.23137255, 0.26274511],
        [0.34901962, 0.23529412, 0.24705882, ..., 0.22352941,
         0.23921569, 0.29411766],
        [0.36078432, 0.23529412, 0.23921569, ..., 0.23529412,
         0.25098041, 0.28627452]],

       [[0.61176473, 0.6901961 , 0.7019608 , ..., 0.76862746,
         0.79215688, 0.71764708],
        [0.60784316, 0.7019608 , 0.72156864, ..., 0.81568629,
         0.84313726, 0.74509805],
        [0.60392159, 0.69803923, 0.72549021, ..., 0.81568629,
         0.84313726, 0.74901962],
        ...,
        [0.30980393, 0.20784314, 0.23921569, ..., 0.46666667,
         0.30980393, 0.29019609],
        [0.32156864, 0.22745098, 0.25882354, ..., 0.25882354,
         0.25098041, 0.27058825],
        [0.30588236, 0.20392157, 0.22745098, ..., 0.24705882,
         0.25490198, 0.26666668]],

       [[0.58431375, 0.73333335, 0.75686276, ..., 0.81960785,
         0.83137256, 0.67058825],
        [0.6156863 , 0.80000001, 0.84313726, ..., 0.87058824,
         0.89019608, 0.71764708],
        [0.60000002, 0.78823531, 0.83529413, ..., 0.84313726,
         0.87843138, 0.72156864],
        ...,
        [0.24313726, 0.20392157, 0.23137255, ..., 0.39607844,
         0.24313726, 0.19607843],
        [0.24313726, 0.20784314, 0.22745098, ..., 0.22745098,
         0.21176471, 0.2       ],
        [0.25098041, 0.2       , 0.2       , ..., 0.19607843,
         0.20392157, 0.19607843]]])